<div class="order-summary jumbotron">
  <h2 >Admin Dashboard</h2>

  <h4> Total Products: <%= @products.count %></h4>

  <h4> Categories: <%= @categories.count %></h4>

  <div>
    <%= link_to 'See All Products', [:admin, :products], class: 'btn btn-info' %>
  </div>
</div>
